.nav {
  height: 70px;
  width: 100%;
  .content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user {
      display: flex;
    }

    .links > * {
      margin: 0 10px;
      text-transform: uppercase;
    }
  }
}
